@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  background-color: #0f0f0f;
  font-family: Courier prime;
  margin-top: 6cm;
}
h1 {
    font-family: Courier prime;
  text-align: center;
  color: white;
  font-size: 60px;
}
h2 {
    font-family: Courier prime;
  text-align: center;
  color: white;
  font-size: 20px;
}
p {
  font-family: Courier prime;
  text-align: center;
  color: white;
}
p.nav {
    font-family: Courier prime;
  text-align: center;
  color: #c4c4c4;
}
p.gray {
       font-family: Courier prime;
  text-align: center;
  color: #c4c4c4; 
}
a {
  font-family: Courier prime;
  text-align: center;
  color: white;
  text-decoration: none;
}
a:hover {
    color: #21ffb1;
}
a.nav
{
      font-family: Courier prime;
  text-align: center;
  color: #c4c4c4;
  
}
a.nav:hover {
        color: #21ffb1;

}
a.cookies {
    
      font-family: "CeraPRO-Regular", sans-serif, arial;
  font-weight: normal;
  color: #838F93;
  font-size: 16px;
  line-height: 24px;
}
span {
  color: #21ffb1;
}
span.gray {
    
  color: #c4c4c4;
}
p.credit {
    font-size: 12px;
}
span#cinfo {
    
    font-family: Courier prime;
    color: white;
}
#container {
  margin: 0 auto;
    	width:100%;

}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 200px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 6px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;


}
.fa-facebook:hover {
    color: #21ffb1;
}

.fa-instagram {
    padding:10px 14px;
    
}
.fa-instagram:hover {
color: #21ffb1;

}
.fa-youtube {
    padding:10px 14px;

}
.fa-youtube:hover {
  color: #21ffb1;

}
.fa-twitter {
    padding:10px 14px;

}
.fa-twitter:hover {
  color: #21ffb1;

}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}
.footer {
    position: sticky;
}
.tekst {
    margin: 0 auto;
     width: 40%;
    text-align: justify;
}

button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    float: center;
}
button:hover {
    color: #001F3F;
    background-color: #fff;
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
